/**
	0.1 - Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
/*
	*
	* 1.0 - Basic
	*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #000;
}

body {
  background-color: #000;
  color: #D40003;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

@media (min-width: 769px) and (max-width: 991px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* a */
a {
  color: #FFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-decoration: none;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #FFFccc;
  text-decoration: none;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* img */
img {
  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* UTILITY */
/* position : relative */
body,
header,
nav,
.wrap {
  position: relative;
}

/* h1 - h6 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 110%;
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  font-size: 4.2rem;
}

h2,
.h2 {
  font-size: 3.56rem;
}

h3,
.h3 {
  font-size: 2.92rem;
}

h4,
.h4 {
  font-size: 2.28rem;
}

h5,
.h5 {
  font-size: 1.64rem;
}

h6,
.h6 {
  font-size: 1rem;
}

/* p */
p {
  margin-bottom: 0;
}

/* margin */
.margin-0 {
  margin: 0;
}

/* padding */
.padding-0 {
  padding: 0;
}

/* hr */
hr {
  border: none;
  margin: 0;
}

/* Main */
/* section */
.section {
  padding: 160px 0;
  text-align: center;
  width: 100%;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .content-wrapper {
    width: 85%;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .content-wrapper {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    width: 100%;
  }
}

.side,
.side-col {
  margin: 0 auto;
  width: 66%;
}

.force-scroll {
  height: 3000px;
}

li.disabled a {
  color: #666666 !important;
  cursor: default;
}

.btn {
  border: 1px solid #FFF;
  padding: 10px 25px;
  display: block;
}

.btn:hover {
  background-color: #51A7FA;
}

.text-center {
  text-align: center;
}

.colorStripe {
  width: 7px;
  height: auto;
  list-style: none;
  margin-top: 30px;
}

.colorStripe li {
  width: 100%;
  height: 20px;
  background-color: #FFF;
}

.colorStripe li:nth-child(1) {
  background-color: #C92606;
}

.colorStripe li:nth-child(2) {
  background-color: #B36AE1;
}

.colorStripe li:nth-child(3) {
  background-color: #EC5D57;
}

.colorStripe li:nth-child(4) {
  background-color: #F49019;
}

.colorStripe li:nth-child(5) {
  background-color: #70C040;
}

.colorStripe li:nth-child(6) {
  background-color: #51A7FA;
}

.back-to-top a {
  position: fixed;
  bottom: 4%;
  right: 2.5%;
  padding: 8px 14px;
  z-index: 1;
  color: #FFF;
  border: 2px solid #FFF;
  font-size: 24px;
  line-height: 1;
}

.back-to-top a:hover {
  background-color: #51A7FA;
}

header,
header-second {
  position: relative;
  z-index: 10;
  height: calc(100vh);
  background-color: #000;
  background-image: url("../imgs/onex-corporate-travel.jpg");
  background-position: center center;
  background-size: cover;
}

header nav,
header-second nav {
  width: 100%;
  position: relative;
  height: 85px;
}

header nav .content-wrapper,
header-second nav .content-wrapper {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .content-wrapper .logo,
header-second nav .content-wrapper .logo {
  height: 30%;
}

header nav .content-wrapper .logo img,
header-second nav .content-wrapper .logo img {
  height: 100%;
  width: auto;
}

header nav .content-wrapper .logo .imagotipo,
header-second nav .content-wrapper .logo .imagotipo {
  margin-right: 20px;
  transform: scale(1.5);
}

header nav .content-wrapper .navigation-menu-wrapper,
header-second nav .content-wrapper .navigation-menu-wrapper {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: 1px;
}

header nav .content-wrapper .navigation-menu-wrapper ul.main-nav,
header-second nav .content-wrapper .navigation-menu-wrapper ul.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

header nav .content-wrapper .navigation-menu-wrapper ul.main-nav li,
header-second nav .content-wrapper .navigation-menu-wrapper ul.main-nav li {
  margin: 0 15px;
}

header nav .content-wrapper .navigation-menu-wrapper ul.main-nav li a,
header-second nav .content-wrapper .navigation-menu-wrapper ul.main-nav li a {
  font-weight: 300;
  display: block;
  position: relative;
  padding: 20px 10px;
}

header nav .content-wrapper .navigation-menu-wrapper ul.main-nav li a:hover,
header-second nav .content-wrapper .navigation-menu-wrapper ul.main-nav li a:hover {
  margin-top: -10px;
}

header .hero,
header-second .hero {
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-flow: column;
  margin-top: -85px;
}

header .hero .hero-content-wrapper,
header-second .hero .hero-content-wrapper {
  max-width: 70%;
}

header .hero .hero-content-wrapper h1,
header-second .hero .hero-content-wrapper h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  line-height: 1.4em;
  display: block;
  margin-bottom: 35px;
}

header .hero .hero-content-wrapper .hero-btn,
header-second .hero .hero-content-wrapper .hero-btn {
  display: inline-block;
  margin-right: 30px;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-second {
  height: 80vh;
}

.header-second .hero .hero-content-wrapper {
  margin: 0 auto;
  text-align: center;
}

.header-second .hero .hero-content-wrapper h1 {
  margin-top: 2em;
}

.video-modal {
  z-index: 100;
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: top;
  justify-content: center;
  -ms-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.video-modal .video-container {
  margin: 0 auto;
  margin-top: 200px;
  background-color: transparent;
  height: 600px;
  width: 70%;
  position: relative;
  -webkit-box-shadow: 0 0 12px #000;
  -moz-box-shadow: 0 0 12px #000;
  box-shadow: 0 0 12px #000;
}

.video-modal .video-container i {
  font-size: 3em;
  position: absolute;
  top: -20px;
  right: -20px;
  color: #FFF;
}

.video-modal .video-container iframe {
  height: 100%;
  width: 100%;
}

.video-modal .video-container video {
  height: auto;
  width: auto;
  background-color: #fff;
}

.video-modal-show {
  display: flex;
  opacity: 1;
}

@keyframe slideUp {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.aboutus {
  height: auto;
  color: #e6e6e6;
  background-image: url("../imgs/bkgd.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutus .overlay {
  position: relative;
  padding: 50px 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.aboutus .overlay .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutus .overlay .content-wrapper .left-side {
  width: 70%;
  margin-right: 50px;
}

.aboutus .overlay .content-wrapper .left-side h2 {
  font-weight: 300;
  margin: 20px 0;
}

.aboutus .overlay .content-wrapper .left-side p {
  letter-spacing: 1px;
  line-height: 1.4em;
  margin-bottom: 20px;
  text-align: justify;
}

.aboutus .overlay .content-wrapper .right-side {
  width: 29%;
}

.aboutus .overlay .content-wrapper .right-side img {
  width: 100%;
}

.services {
  height: auto;
  color: #e6e6e6;
  background-image: url("../imgs/onex-corporate-travel.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services .overlay {
  position: relative;
  padding: 50px 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(244, 144, 25, 0.7);
}

.services .overlay .content-wrapper .side h2 {
  font-weight: 300;
  margin: 20px 0;
}

.services .overlay .content-wrapper .side h4 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 20px 0 30px;
  text-align: left;
  text-transform: uppercase;
}

.services .overlay .content-wrapper .side .services-col {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
}

.services .overlay .content-wrapper .side .services-col .services-col-6 {
  width: 35%;
}

@media (min-width: 769px) and (max-width: 991px) {
  .services .overlay .content-wrapper .side .services-col .services-col-6 {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .services .overlay .content-wrapper .side .services-col .services-col-6 {
    width: 100%;
  }
}

.services .overlay .content-wrapper .side .services-col .services-col-6 ol li {
  letter-spacing: .5px;
  list-style: none;
  padding: 6px 0;
}

.contactus {
  height: auto;
  color: black;
  background-color: #FFF;
}

.contactus .content-wrapper {
  padding: 50px 0;
}

.contactus .content-wrapper h2 {
  font-weight: 300;
  margin: 20px 0;
}

.contactus .content-wrapper .content-row .side p {
  letter-spacing: 1px;
  line-height: 1.4em;
  margin-bottom: 20px;
  text-align: justify;
}

.contactus .content-wrapper .content-row .side h4 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 50px 0 30px;
  text-align: left;
  text-transform: uppercase;
}

.contactus .content-wrapper .content-row .side form input,
.contactus .content-wrapper .content-row .side form textarea {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  letter-spacing: 0px;
  margin: 40px 0;
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #51A7FA;
  -ms-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #51A7FA 4%);
  background-position: -1000px 0;
  background-size: 1000px 100%;
  background-repeat: no-repeat;
  color: #0674df;
}

.contactus .content-wrapper .content-row .side form input:focus, .contactus .content-wrapper .content-row .side form input:valid,
.contactus .content-wrapper .content-row .side form textarea:focus,
.contactus .content-wrapper .content-row .side form textarea:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.contactus .content-wrapper .content-row .side form input:focus::-webkit-input-placeholder, .contactus .content-wrapper .content-row .side form input:valid::-webkit-input-placeholder,
.contactus .content-wrapper .content-row .side form textarea:focus::-webkit-input-placeholder,
.contactus .content-wrapper .content-row .side form textarea:valid::-webkit-input-placeholder {
  color: #000;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}

.contactus .content-wrapper .content-row .side form textarea {
  height: 114px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99.4%, #51A7FA 4%);
  background-position: -1000px 0;
  background-size: 1000px 100%;
  background-repeat: no-repeat;
  padding: 20px 0;
  resize: none;
}

.contactus .content-wrapper .content-row .side form .btn-contact {
  border: none;
  background: #51A7FA;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.3em;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -ms-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.contactus .content-wrapper .content-row .side form .btn-contact:hover {
  transform: translateY(1px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
}

.contactus .content-wrapper .content-row .side form .btn-contact:focus {
  outline: none;
}

.contactus .content-wrapper .content-row .side form .btn-contact span i {
  display: inline-block;
  vertical-align: middle;
}

.contactus .content-wrapper .content-row .side form .btn-contact span i {
  margin-right: 10px;
}

.contactus .content-wrapper .content-row .side form .list {
  list-style: none;
  margin: .5rem;
}

.contactus .content-wrapper .content-row .side form .list__item {
  margin: 0 0 .8rem 0;
  padding: 0;
}

.contactus .content-wrapper .content-row .side form .label--checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-flex;
}

.contactus .content-wrapper .content-row .side form .checkbox {
  position: relative;
  top: -0.375 rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
  width: 13px;
  height: 13px;
}

.contactus .content-wrapper .content-row .side form .checkbox:before {
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
}

.contactus .content-wrapper .content-row .side form .checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #70C040;
  border-top-style: none;
  border-right-style: none;
}

.contactus .content-wrapper .content-row .side form .checkbox:after {
  content: "";
  position: absolute;
  top: -0.125 rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.contactus .content-wrapper .content-row .side form .content-col {
  display: flex;
  justify-content: center;
}

.contactus .content-wrapper .content-row .side form .content-col .content-col-6 {
  padding: 0 15px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .contactus .content-wrapper .content-row .side form .content-col {
    align-items: center;
    flex-direction: column;
  }
  .contactus .content-wrapper .content-row .side form .content-col .content-col-6 {
    width: 100%;
  }
}

footer {
  background-color: #000;
  padding-bottom: 60px;
  color: #FFF;
  font-size: 1em;
}

footer .content-wrapper {
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding-top: 50px;
  width: 100%;
  max-width: 100%;
}

footer .content-wrapper h4 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

footer .content-wrapper .offices {
  width: 400px;
  position: relative;
}

footer .content-wrapper .offices h5 {
  font-size: .8em;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .content-wrapper .offices span {
  font-size: .9em;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 300;
  margin-right: 20px;
  color: #b3b3b3;
}

footer .content-wrapper .offices .office {
  width: 49%;
  display: inline-block;
  font-size: .9em;
  vertical-align: top;
  margin-bottom: 40px;
}

footer .content-wrapper .offices .office h6 {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #919191;
  font-size: .8em;
  letter-spacing: 1px;
  font-weight: 900;
}

footer .content-wrapper .offices .office .adress {
  margin-right: 30px;
}

footer .content-wrapper .offices .office .adress p {
  font-size: .9em;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 300;
}

footer .content-wrapper .partners {
  display: none;
}

footer .content-wrapper .sitemap ul {
  list-style: none;
}

footer .content-wrapper .sitemap ul li {
  margin: 4px 0;
  font-size: .85em;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: capitalize;
  color: #b3b3b3;
  cursor: default;
}

footer .content-wrapper .suscribe {
  min-width: 350px;
}

footer .content-wrapper .suscribe form {
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
  background-color: #B36AE1;
  width: 100%;
  position: relative;
}

footer .content-wrapper .suscribe form label {
  color: #FFF;
  top: 0;
  left: 0;
  z-index: 15;
}

footer .content-wrapper .suscribe form .actions,
footer .content-wrapper .suscribe form .inputs {
  display: block;
  height: 50px;
  width: 20%;
  position: relative;
}

footer .content-wrapper .suscribe form .inputs {
  width: 80%;
}

footer .content-wrapper .suscribe form .inputs input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 1em;
  color: #FFF;
  font-size: 1.1em;
  border: none;
  font-weight: 300;
}

footer .content-wrapper .suscribe form .inputs input:focus, footer .content-wrapper .suscribe form .inputs input:active {
  outline: none;
  border: none;
}

footer .content-wrapper .suscribe form .inputs input:focus::-webkit-input-placeholder, footer .content-wrapper .suscribe form .inputs input:active::-webkit-input-placeholder {
  color: #FFF;
  font-weight: 300;
}

footer .content-wrapper .suscribe form .inputs input:focus::-moz-placeholder, footer .content-wrapper .suscribe form .inputs input:active::-moz-placeholder {
  color: #FFF;
  font-weight: 300;
}

footer .content-wrapper .suscribe form .inputs input:focus:-moz-placeholder, footer .content-wrapper .suscribe form .inputs input:active:-moz-placeholder {
  color: #FFF;
  font-weight: 300;
}

footer .content-wrapper .suscribe form .inputs input:focus:-ms-input-placeholder, footer .content-wrapper .suscribe form .inputs input:active:-ms-input-placeholder {
  color: #FFF;
  font-weight: 300;
}

footer .content-wrapper .suscribe form .inputs input span.error {
  position: absolute;
  top: 52px;
  left: 0;
  color: #C92606;
}

footer .content-wrapper .suscribe form .actions button {
  width: 100%;
  z-index: 10;
  background-color: #51A7FA;
  border: none;
  right: 0;
  top: 0;
  height: 50px;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

footer .content-wrapper .suscribe form .actions button:hover {
  background-color: #70C040;
}

footer .content-wrapper .suscribe form .actions button:hover i {
  font-size: 1.8em;
}

footer .content-wrapper .suscribe form .actions button i {
  color: white;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}

footer .content-wrapper .suscribe form .loader {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 0%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

footer .content-wrapper .suscribe form .loader img {
  display: none;
  text-align: center;
}

footer .content-wrapper .suscribe form .loader .msg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

footer .content-wrapper .suscribe form .loader p {
  margin: 0;
}

footer .content-wrapper .suscribe form .loader .msg_success {
  background-color: #70C040;
}

footer .content-wrapper .suscribe form .loader .msg_error {
  background-color: #EC5D57;
}

footer .content-wrapper .suscribe form .loaderShow {
  width: 20%;
}

footer .content-wrapper .suscribe form .loaderComplete {
  width: 100%;
}

.about-incentive,
.about-incentive-pleca {
  height: auto;
  color: #000;
  background-color: #FFF;
}

.about-incentive .content-wrapper,
.about-incentive-pleca .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.about-incentive .content-wrapper .side h2,
.about-incentive-pleca .content-wrapper .side h2 {
  font-size: 2.3em;
  font-weight: 300;
  margin: 20px 0;
}

.about-incentive .content-wrapper .side p,
.about-incentive-pleca .content-wrapper .side p {
  letter-spacing: 1px;
  line-height: 1.4em;
  margin-bottom: 20px;
  text-align: justify;
}

.about-incentive .content-wrapper .side ul,
.about-incentive-pleca .content-wrapper .side ul {
  margin-left: 20px;
}

.about-incentive .content-wrapper .side ul li,
.about-incentive-pleca .content-wrapper .side ul li {
  letter-spacing: 1px;
  padding: 6px 0;
}

.about-incentive .content-wrapper .side h3,
.about-incentive-pleca .content-wrapper .side h3 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 60px 0 20px;
}

.about-incentive-pleca {
  height: auto;
  color: #e6e6e6;
  background-image: url("../imgs/onex-corporate-travel.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-incentive-pleca .overlay {
  position: relative;
  padding: 50px 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(112, 192, 64, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-meetings,
.about-meetings-pleca {
  height: auto;
  color: #000;
  background-color: #FFF;
}

.about-meetings .content-wrapper,
.about-meetings-pleca .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.about-meetings .content-wrapper .side h2,
.about-meetings-pleca .content-wrapper .side h2 {
  font-size: 2.3em;
  font-weight: 300;
  margin: 20px 0;
}

.about-meetings .content-wrapper .side p,
.about-meetings-pleca .content-wrapper .side p {
  letter-spacing: 1px;
  line-height: 1.4em;
  margin-bottom: 20px;
  text-align: justify;
}

.about-meetings .content-wrapper .side h3,
.about-meetings-pleca .content-wrapper .side h3 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 60px 0 20px;
}

.about-meetings .content-wrapper .side ul,
.about-meetings-pleca .content-wrapper .side ul {
  margin-left: 20px;
}

.about-meetings .content-wrapper .side ul li,
.about-meetings-pleca .content-wrapper .side ul li {
  letter-spacing: 1px;
  padding: 6px 0;
}

.about-meetings .content-wrapper .side a,
.about-meetings-pleca .content-wrapper .side a {
  background-color: #51A7FA;
  color: #FFF;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 200;
  padding: 8px 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -ms-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.about-meetings .content-wrapper .side a:hover,
.about-meetings-pleca .content-wrapper .side a:hover {
  transform: translateY(1px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
}

.about-meetings .content-wrapper .side-col,
.about-meetings-pleca .content-wrapper .side-col {
  column-count: 2;
  column-gap: 20px;
}

.about-meetings .content-wrapper .side-col .side-col-6,
.about-meetings-pleca .content-wrapper .side-col .side-col-6 {
  background-color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 11px rgba(0, 0, 0, 0.2);
  margin-bottom: 44px;
  padding: 40px 30px 16px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  break-inside: avoid;
  -ms-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.about-meetings .content-wrapper .side-col .side-col-6:hover,
.about-meetings-pleca .content-wrapper .side-col .side-col-6:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.16);
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.about-meetings .content-wrapper .side-col .side-col-6 h3,
.about-meetings-pleca .content-wrapper .side-col .side-col-6 h3 {
  color: #010101;
  font-size: 2em;
  font-weight: 100;
  margin: 16px 0 20px;
  position: relative;
  text-align: left;
  width: 100%;
}

.about-meetings .content-wrapper .side-col .side-col-6 img,
.about-meetings-pleca .content-wrapper .side-col .side-col-6 img {
  width: 100%;
}

.about-meetings-pleca {
  height: auto;
  color: #e6e6e6;
  background-image: url("../imgs/onex-corporate-travel.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-meetings-pleca .overlay {
  position: relative;
  padding: 50px 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(179, 106, 225, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
