header,
.header-incentive,
.header-meetings
  position: relative
  z-index: 10
  //Esta propiedad cambaira una vez implementado el sitio completo
  height: 100vh
  background-color: $black
  background-image: url('../imgs/onex-corporate-travel.jpg')
  background-position: center center
  background-size: cover
  position: relative

  .hero
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-flow: column
    // margin-top: -85px
    @include respond-to(sm)
      text-align: center
    @include respond-to(xs)
      text-align: center
    .hero-content-wrapper
      text-align: center
      max-width: 70%
      @include respond-to(sm)
        margin: 0 auto
      @include respond-to(xs)
        margin: 0 auto
      img
        max-width: 300px
        display: block
        margin: 0 auto
        padding: 0
        margin-bottom: 30px
      img.imagotipo
        max-width: 200px

      h1
        color: rgba($white, 0.9)
        font-size: 3.5em
        text-transform: uppercase
        letter-spacing: 2px
        font-weight: 900
        line-height: 1.4em
        display: block
        margin-bottom: 35px
        border-top: 1px solid $white
        @include respond-to(sm)
          font-size: 2.8em
        @include respond-to(xs)
          font-size: 2em
        @include respond-to(xx)
          font-size: 1.6em
      .hero-btn
        display: inline-block
        margin-right: 30px
        font-size: .9em
        text-transform: uppercase
        letter-spacing: 1px
        &:last-child
          margin-right: 0
        @include respond-to(xx)
          margin-bottom: 20px
          margin-right: 0
.header-incentive,
.header-meetings
  background-image: url('../imgs/onex-incentive-travel.jpg')
  height: 80vh
  .hero
    .hero-content-wrapper
      margin: 0 auto
      text-align: center
      h1
        margin-top: 0em
.header-meetings
  background-image: url('../imgs/onex-meetings-and-events.jpg')
.video-modal
  z-index: 100
  position: absolute
  height: 100vh
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba($black, 0.6)
  display: none
  align-items: top
  justify-content: center
  +transition(opacity 0.3s ease-in-out)
  .video-container
    margin: 0 auto
    margin-top: 200px
    background-color: transparent
    height: 600px
    width: 70%
    position: relative
    +box-shadow(0 0 12px $black)
    i
      font-size: 3em
      position: absolute
      top: -20px
      right: -20px
      color: $white
    iframe
      height: 100%
      width: 100%
    video
      height: auto
      width: auto
      background-color: #fff

.video-modal-show
  display: flex
  opacity: 1


@keyframe slideUp
  from
    transform: translateY(-10px)
    opacity: 0
  to
    transform: translateY(0)
    opacity: 1

/**************************************/
.center-contents
  // background-color: yellow
  overflow: hidden
  width: 100%
  display: flex
  position: fixed
  top: 0
  left: 0
  right: 0
  +transition(height 300ms ease-in-out)
  .center-contents-wrap
    display: flex
    justify-content: space-between
    max-width: 1280px
    width: 100%
    margin: 0 auto
    height: 85px
    position: relative
    @include respond-to(sm)
      flex-wrap: wrap
    @include respond-to(xs)
      flex-wrap: wrap
    .page-logo
      // background-color: red
      width: 30%
      display: flex
      justify-content: flex-start
      align-items: center
      position: relative
      height: 85px
      @include respond-to(lg)
        padding-left: 3%
      @include respond-to(md)
        padding-left: 3%
      @include respond-to(sm)
        padding: 0 3%
        width: 100%
      @include respond-to(xs)
        padding: 0 3%
        width: 100%
      .logo,
      .toggle-nav
        @include respond-to(sm)
          width: 50px
        @include respond-to(xs)
          width: 50px
      .logo
        // background-color: purple
        // max-width: 60px
        @include respond-to(sm)
          width: calc(100% - 50px)
        @include respond-to(xs)
          width: calc(100% - 50px)
        img
          display: inline-block
          height: 20px
          vertical-align: middle
          @include respond-to(xs)
            height: 20px
          &.imagotipo
            transform: scale(1.5)
            margin-right: 18px
            @include respond-to(xs)
              margin-left: 8px
      .toggle-nav
        // background-color: pink
        cursor: pointer
        height: 40px
        position: relative
        @include respond-to(lg)
          display: none
        @include respond-to(md)
          display: none
        @include respond-to(sm)
          display: block
        @include respond-to(xs)
          display: block
        .linea1
          background: #fff
          height: 2px
          width: 15px
          position: absolute
          left: 50%
          margin-left: -7px
          top: 15px
          transition: all 0.3s
        .linea2
          background: #fff
          height: 2px
          width: 15px
          position: absolute
          left: 50%
          margin-left: -7px
          top: 20px
          opacity: 1
          transition: opacity 0.5s
        .linea3
          background: #fff
          height: 2px
          width: 15px
          position: absolute
          left: 50%
          margin-left: -7px
          top: 25px
        .overL1
          animation: closetop 1s forwards
          animation-direction: alternate
          cursor: pointer
        .overL2
          opacity: 0
          transition: opacity 0.5s
          cursor: pointer
        .overL3
          animation: closebottom 1s forwards
          animation-direction: alternate
          cursor: pointer
        @keyframes closetop
          0%
            transform: translateY(5px) rotate(0deg)
          25%
            transform: translateY(5px) rotate(0deg)
          75%
            transform: translateY(5px) rotate(-45deg)
          100%
            transform: translateY(5px) rotate(-45deg)
        @keyframes closebottom
          0%
            transform: translateY(0px) rotate(0deg)
          25%
            transform: translateY(-5px) rotate(0deg)
          75%
            transform: translateY(-5px) rotate(45deg)
          100%
            transform: translateY(-5px) rotate(45deg)
    .page-nav
      // background-color: green
      color: #fff
      position: relative
      width: 70%
      @include respond-to(lg)
        padding-right: 1%
      @include respond-to(md)
        padding-right: 1%
      @include respond-to(sm)
        width: 100%
      @include respond-to(xs)
        width: 100%
      // position: relative
      // visibility: inherit
      // transition:visibility .4s linear
      ul
        align-items: center
        display: flex
        justify-content: flex-end
        height: 100%
        padding-top: 20px
        @include respond-to(sm)
          flex-wrap: wrap
          text-align: center
        @include respond-to(xs)
          flex-wrap: wrap
          text-align: center
        li
          list-style: none
          margin: 0
          padding: 0
          @include respond-to(sm)
            // background-color: teal
            border-bottom: #666 1px solid
            width: 100%
            &:first-child
              border-top: #666 1px solid
          @include respond-to(xs)
            // background-color: maroon
            border-bottom: #666 1px solid
            width: 100%
            &:first-child
              border-top: #666 1px solid
          a
            // background-color: blue
            color: #fff
            width: 100%
            height: 100%
            display: block
            padding: 0.75em 1em
            text-decoration: none
            cursor: pointer
            // line-height: 2
            &:hover
              // background-color: teal
            @include respond-to(sm)
              padding: 1.15em 2em
              &:hover
                background-color: rgba($white,.2)
            @include respond-to(xs)
              padding: 1.15em 2em
              &:hover
                background-color: rgba($white,.2)
            &.active
              background-color: transparent
.center-contents-toggle
  height: auto
  height: 354px

.center-contents-bg
  background-color: rgba($black, .8)
  +transition(all 0.3s ease-in-out)

.menu-expanded
  height: 11em

// /************************
//   MAIN CONTENTS
// ************************/
.page-contents
  padding: 0 1em
  max-width: 650px
  margin: auto

// /************************
//   MEDIA QUERIES
// ************************/
@media only screen and (min-width:450px)
  header
    span
      display: block

  .page-nav
    clear: left
    position: relative
    visibility: inherit
    transition: visibility .4s linear




@media only screen and (min-width:700px)
  // header
  //   height: 4em


  // .logo
    // max-width: 92px

  // .page-nav
  //   width: auto
  //   float: right
  //   display: block
  //   clear: none
  //   visibility: visible

  header
    span
      display: none


//   .page-nav
//     ul,
//     li
//       float: left
//     a
//       border-top: none

@media only screen and (max-width:699px)
  .collapse
    visibility: hidden



@media only screen and (min-width:700px)
  .collapse
    visibility: inherit
