section.aboutus#about
  .overlay
    .content-wrapper
      .left-side
        h2 About Us
        p ONEX nace y se inspira en el ONIX, piedra preciosa extraída principalmente en México, (Destino principal de nuestro mercado) mineral moldeable y que se deja esculpir en cualquier forma (Ya que adaptamos nuestro servicio a las necesidades e intenciones del cliente), ha recibido legendarios y místicos usos desde la era prehispánica (Convertimos el MICE en experiencias de valor) con una gran belleza pero también una extraordinaria solidez ( Se cuenta con gran experiencia y un firme estructura). Para nosotros en ONEX, el servicio y la atención son lo más importante y consideramos a los colaboradores que son parte de una empresa, lo más valioso.
        p En ONEX lo más importante para ti, es lo más importante para nosotros.
        p ONEX es una empresa especializada en MICE (Meetings, Incentive, Congress & Events), que forma parte de Grupo Publiza y que busca siempre cumplir los objetivos e intenciones de nuestros clientes con calidad y excelente servicio, brindando soluciones y herramientas que generarán maravillosas experiencias vivenciales y de valor a los participantes siendo nuestro principal diferenciador, que todos los servicios brindados son inhouse.
        p Nuestras habilidades nos permiten ofrecer un servicio integral en el desarrollo de MICE desde su concepción creativa hasta su implementación con los mejores precios del mercado.
        p ONEX brinda un servicio que cubre la planificación y ejecución de todas las etapas que integran un proyecto de MICE, el PreCon, Program MGMT y PostCon.
        p Nuestra filosofía es realizar cada evento aplicando nuestras mejores herramientas: creatividad, experiencia operativa, conocimiento del mercado y las nuevas tecnologías, logrando generar experiencias memorables, efectivas y de valor a todos los asistentes y sus acompañantes.
      //- .right-side
      //-   img(src='imgs/bkgd.jpg')
    
