section.destination-experts
  .content-wrapper
    h2 Experts in all mexican destinations

section.aboutus.index-bg#about
  .overlay
    .content-wrapper
      .left-side
        h2 About Us
        p ONEX is born and inspired by ONIX, a gemstone extracted mainly in Mexico, (main destination of our market) moldable mineral and able to sculpt it in any way (as we adapt our service to the needs and intentions of the client) it has received legendary and mystical uses since the pre-Hispanic era (we convert the value experiences MICE) with great beauty but also an extraordinary strength (we got extensive experience and a firm structure). For us in ONEX, service and care are the most important thing, we consider our employees who are part of the business, the most valuable asset.
        p In ONEX most important to you, it is most important to us.
        p ONEX specializes in MICE (Meetings, Incentive, Congress & Events) we are part of Grupo Publiza and we always seek to fulfill the objectives and intentions of our customers with quality products and excellent service, providing solutions and tools that will generate wonderful life experiences for our participants, we bring value to our customets, our main differentiator with out competition is that all of services provided are inhouse make,no third parties.
        p Our skills allow us to offer a complete service in developing their creative MICE from conception to implementation with the best prices in the market.
        p ONEX provides a service that covers the planning and execution of all stages that make up a project of MICE, the PreCon, MGMT and postcon Program.
        p Our philosophy is to create each event, applying our best tools: creativity, operational experience, market knowledge and new technologies, achieving memorable, effective and valuable experience to all od our attendees and their companions.
    
