section.contactus#contact
    .content-wrapper
        .content-row
            .side
                h2 Contact Us
                p Thank you for your interest in Onex. We would love to hear from you!
                p We help companies source and execute successful events around the globe every day. If you’d like to learn more about us or our services, please complete the short form below. One of our associates will be in touch within 24 business hours.
                form
                    h4 BLanks para datos:
                    .content-col
                        .content-col-6
                            input(placeholder="Name" type="text" required="")
                            input(placeholder="Email" type="text" required="")
                        .content-col-6
                            textarea(placeholder="Description" required="")
                            //- button(type="submit" class="btn-contact" )
                            //-     span(class="ladda-label")
                            //-         i(class='fa fa-paper-plane')
                            //-         span Enviar
                    .content-col
                        .content-col-6
                            ul.list
                                li.list__item
                                label.label--checkbox
                                    input(class="checkbox" type="checkbox" checked)
                                    span I am interested in information regarding the following services (select option)
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox" checked)
                                        span Cuandros de checks:
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span General - All Services
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox" checked)
                                        span Sourcing and Contracting
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Creative Services and Web Design
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Registration and Attendee Management
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Conference and Trade Show Management
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Individual and Group Incentive Services
                        .content-col-6
                            ul.list
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Program Management and Logistics
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Group Air and Transportation
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Onsite Execution and Staffing
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Mobile Solutions and Apps
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Strategic Meetings Management
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Consulting Services
                                li.list__item
                                    label.label--checkbox
                                        input(class="checkbox" type="checkbox")
                                        span Other (please specify below)
                    .content-col
                        button(type="submit" class="btn-contact" )
                            span(class="ladda-label")
                                i(class='fa fa-paper-plane')
                                span Enviar