footer
  .content-wrapper
    .content-col.content-col-2
      ul.colorStripe
        li: span.color
        li: span.color
        li: span.color
        li: span.color
        li: span.color
        li: span.color
    .content-col.content-col-8
      .offices
        h4 Our Offices
        h5 Corporate Headquarters
        .office
          h6 Branch WTC México
          .adress
            p 
              |Montecito No. 38
              |Piso 37 Oficina 24
              |Col. Napoles
              |CP 03810, CDMX
        .office
          h6 Branch San Angel
          .adress
            p 
              |Altavista No. 159
              |Col. San Angel Inn
              |CP 03810, CDMX
              |Tel. (55) 56.06.70.17
        
        h5 Satallite Offices
        span Cancun
        span Los Cabos
        span Monterrey
        span Guadalajara
      
    
      .sitemap
        h4 Site Map
        ul
          li about us
          li contact us
          li incentive travel
          li meetings & events
          li media
        
        ul
          li privacy policy

      .suscribe
        h4 Suscribe
        p Want to know more about our services?
        form(name="suscribir", method="post", id="formaDeSuscripccion")
          div.inputs
            input(class="emailInput" type="text" name="e-mail" placeholder="Dejanos tu correo electrónico")
          div.actions
            button(type="submit" class="mailSubmit ladda-button" data-style="slide-up"): span(class="ladda-label"): i(class='fa fa-paper-plane')
          div.loader
            .msg: p
      

      .partners
        h4 Partners
        
    .content-col.content-col-2
      ul.colorStripe
        li: span.color
        li: span.color
        li: span.color
        li: span.color
        li: span.color
        li: span.color  
      
script(src="js/mailValidator.js")
script(src="js/_scroll.js")
