header#top.header-second
  nav
    .content-wrapper
      .logo
        img.imagotipo(src='imgs/imagotipo.png')
        img(src='imgs/onex-logo.svg')
      .navigation-menu-wrapper
        ul.main-nav
          li: a.smooth-scroll(href="#aboutIncentive") About Us
          li: a(href="#service") Services
          li: a(href="incentive-travel.html") Incentive Travel
          li: a(href="meetings-events.html") Meetings & Events
            span.menu-btn-bar
          li: a(href="#contact") Contact Us
  .content-wrapper.hero
    div.hero-content-wrapper
      h1 Incentive Travel
      //- a.btn.hero-btn(href='#aboutIncentive') Read more
