header#top.header-second
  .center-contents
    .center-contents-wrap
      div.page-logo
        div.logo
          a(href="index.html" title="Onex")
            img.imagotipo(src='imgs/imagotipo.png')
            img(src='imgs/onex-logo.svg')
        span.toggle-nav
          .linea1
          .linea2
          .linea3   
      nav.page-nav.collapse
        ul
          li
            a(href="index.html#about" title="") About Us
          li
            a(href="index.html#service" title="") Services
          li
            a(href="incentive-travel.html" title="") Incentive Travel
          li
            a(href="meetings-events.html" title="") Meetings & Events
          li
            a(href="index.html#contact" title="") Contact Us
  //- nav
  //-   .content-wrapper
  //-     .logo
  //-       img.imagotipo(src='imgs/imagotipo.png')
  //-       img(src='imgs/onex-logo.svg')
  //-     .navigation-menu-wrapper
  //-       ul.main-nav
  //-         li: a.smooth-scroll(href="index.html#about") About Us
  //-         li: a(href="index.html#service") Services
  //-         li: a(href="incentive-travel.html") Incentive Travel
  //-         li: a(href="meetings-events.html") Meetings & Events
  //-           span.menu-btn-bar
  //-         li: a(href="index.html#contact") Contact Us
  .content-wrapper.hero
    div.hero-content-wrapper
      h1 Incentive Travel
      //- a.btn.hero-btn(href='#aboutIncentive') Read more
