section.services#service
  .overlay
    .content-wrapper
        .side
            h4 OUR SERVICE OFFERING INCLUDES:
            
            img(src="../imgs/onex-meeting-services.png", alt="Onex Meetings & Events services")
            
            //- .services-col
            //-     .services-col-6
            //-         ol
            //-             li Financial Strategy, Management & Pricing
            //-             li Food & Beverage
            //-             li General Session Design
            //-             li Global Contact Centers
            //-             li Graphics
            //-             li Hotel/Hospitality
            //-             li Keynote Production
            //-             li Live Production
            //-             li Press Event Design & Production
            //-             li Procurement-led Supplier Selection
            //-             li Project Management
            //-             li Signage & Furnishing
            //-             li Sponsorship Sales & Partner Marketing
            //-             li Strategy and Creative
            //-             li Tradeshow Services
            //-     .services-col-6
            //-         ol
            //-             li Breakout & Speaker Management
            //-             li Corporate Event Planning
            //-             li Digital Production
            //-             li Event Planning & Management
            //-             li Event Production
            //-             li Executive Support & Project Management
            //-             li Exhibition Management & Logistics Staffing
            //-             li Experiential Marketing
            //-             li Expo Management
            //-             li Fabrication
            //-             li Registration
            //-             li Trade Show Exhibit Design
            //-             li Transportation & Security
            //-             li Travel Management
            //-             li Venue & Accommodation Management
