doctype 
html
  include ../_jadefiles/_head.jade
  body
    include ../_jadefiles/_header.jade
    include ../_jadefiles/_about.jade
    
    .back-to-top
      a.smooth-scroll(href='#top')
       i.ion-ios-arrow-thin-up
    
    include ../_jadefiles/_footer.jade
    
